@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --primary-color:#f99334;
    --secondary-color: #e7c24f;
    --accent1-color:#0B4272;
    --accent2-color: #381d2a;
  
    --heading-font: 'font-name', 'Rock Salt';
    --paragraph-font: 'font-name', serif;
  
    --nav-background-color: #0B4272;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #84afe6;
  }

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns:120px 1fr;
    align-items: center;
    max-width: 100%;
    gap: 15px;
    background-color:#ad6d31;
}

.logo img {
    width: 150px;
    height: auto;
    padding-left: 30px;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
    text-align: center;
}

.navigation a {
    display: inline-block;
    margin: 0 10px;
    padding: 100px;
    color:rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    flex: 1;
}

.map iframe {
    flex: 1;
    margin-left: 20px; /* Adjust margin as needed */
    margin-right: 240px;
    height: 200px;
    width: 250px;
}


.hero {
    position: relative;
    margin-bottom: 30px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:navy;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.hero article img {
    float: right;
    width: 150px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.hero article p {
    color: white;
}

section {
    margin-bottom: 50px;
}

section h2 {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

section p {
    line-height: 1.5;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.history h2 {
    color: var(--secondary-color);
    margin-bottom: 10px;
    width: fit-content;
}

.adventures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 20px;
}

.adventures h2 {
    color: var(--secondary-color);
    margin-bottom: 20px;
    width: 100%;
}

.adventures figure {
    margin: 0 10px;
    flex: 0 0 18%;
    align-items: center;
}

.adventures img {
    max-width: 100%;
    width: 200px;
    height: 150px;
    display: block;
    border-radius: 5px;
}

.adventures figcaption {
    max-width: 100%;
    width: 200px;
    height: 150px;
    display: block;
    border-radius: 5px;
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer p {
    margin-bottom: 10px;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.sociallinks a {
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.sociallinks a:hover {
    transform: scale(1.2);
}

.sociallinks img {
    width: 40px;
}

form {
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    margin-bottom: 20px;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: .5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

textarea {
    width: 98.5%; /* Make the textarea span almost the full width */
    margin-top: 0.5rem; /* Add some space between the input elements */
}

/* Adjustments for label */
label[for="feedback"] {
    display: block; /* Make the label a block element */
    margin-bottom: 0.5rem; /* Add some space below the label */
    margin-top: .5rem;
    text-align: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-bottom: auto;
    vertical-align: text-bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}


.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}
