* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rock Salt', 'Bradley Hand', cursive;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0px;
    padding: 0;
}

header {
    background-color: #ffcccc;
    padding: 20px;
}
nav{
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #ffcccc;
    color: #333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

main {
    margin: 1rem;
    grid-column: 1/2;
}

aside {
    width: 20rem;
    border: 5px dotted #99cccc;
    color: #000;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
    color:aliceblue;
}
aside img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}


main img {
    width:150px;
    height:auto;
    float: right;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #99cccc;
    background-color: #ffcccc;
    text-align: center;
    padding: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 20rem;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #e0f2f1;
    color: #333;
}